.products{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem 0.7rem;
    padding:5vh 10vw;
    }
  @media screen and (max-width:600px) {
    .products{
        width: 100vw;
        gap: 0.5rem 0.5rem;
        padding:3vh 8vw;
        }
  }

