.footer{
    width: 100vw;
    min-height: 50vh;
    background-color: rgb(27, 25, 25);
    color: rgba(232, 231, 231, 0.924);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
    font-size: 0.85em;
    gap: 2rem;
}
.footer div{
    margin-top: 1.2rem;
}
.footer h4{
    margin-top: 0.8rem;
    cursor: pointer;
}
.footer h4:hover{
    text-decoration: underline;
}
.footer h2{
    color: rgb(115, 112, 112);
    cursor: pointer;
}
.footer a{
    color: rgba(232, 231, 231, 0.924);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
address{
    width: 60%;
}
@media screen and (max-width: 1100px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
    address{
        width: 100%;
    }
}
@media screen and (max-width: 600px ) {
    .footer{
        display: grid;
        grid-template-columns: 3fr 1fr;
        place-items: space-between;
       
    }
    .footer div{
        width: 45%;
    }
    address{
        display: inline;
    }
}
@media screen and (max-width: 400px ) {
    .footer{
        display: flex;
        flex-direction: column;
        
        align-items: center;
    }
    
    address{
        display: inline;
    }
}
@media screen and (max-width: 300px ) {
    .footer{
        display: grid;
        grid-template-columns:1fr;
        place-items: start;
       
    }
    .footer div{
        width: auto;
    }
    address{
        display: inline;
    }
}