
.Kids_collection{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem 0.7rem;
    padding:5vh 10vw;
}
.Kids_collection_heading{
    text-align: center;
    margin-top: 17vh;
    margin-bottom: 5vh;
    position: relative;
}
.Kids_collection_heading::after{
    content: '';
    position: absolute;
    width: 6%;
    height: 2.5px;
    background-color: black;
    left:47%;
    top: 1.5em;
}
/* @media screen and (max-width:700px) {
   .Kids_collection{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
          
        }
        .Kid_collection_heading::after{
            content: '';
            position: absolute;
            width: 20%;
            height: 2.5px;
            background-color: black;
            left:47%;
            top: 1.5em;
        }
} */
@media screen and (max-width:600px) {
   .Kids_collection{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            justify-items: center;
            gap: 1rem 0.4rem;
        }
    }
       
    @media screen and (max-width: 380px) {
       
        .Kids_collection{
            display: grid;
            grid-template-columns: 1fr ;
            justify-items: center;
        }  
                }
    
