.Shop{
    width: 100vw;
  min-height: 91vh;
    background: linear-gradient(rgba(245, 215, 255, 0.845),#fff);
    display: flex;
  justify-content: space-evenly;
  font-family: 'Poppins', sans-serif;
}
.ShopText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;  
    padding-left: 0.5rem;
}
.shopText1{
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;

}
.shopText2{
    width: 85%;
    font-size: 3.5em;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: -20px;
}
.shopBtn{
    width: 40%;
    height: 5.9vh;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    padding: 0.1rem 0.1rem;
    background-color: rgb(247, 60, 60);
    outline: none;
    border: none;
    border-radius: 1.1rem;
    text-transform: capitalize;
    margin-top: 1.5rem;
    cursor: pointer;
}
.shopBtn:active{
    background-color:rgba(248, 48, 48, 0.757); 

}
.Shop_img{
     width:30vw;
    object-fit: cover;
}
/* @media screen and (max-width: 950px) and (min-width: 850px) {
    .ShopText{
        padding: 1rem;  
    }
} */
@media screen and (max-width: 950px) {
    .shopText1{
        font-size: 0.81em;
    }
    .shopText2{
        font-size: 2.5em;
        
    }
    .Shop_img{
        width: 70vw;
        /* height: 85vh; */
        object-fit: contain;
    }
    .shopBtn{
        width: 80%;
        padding: 0.2rem 0.2rem;
        border-radius: 1.5rem;
       
    }
}
@media screen and (max-width: 750px) {
    .Shop_img{
        width: 60vw;
        object-fit: contain;
    }
    .Shop_img{
       /* flex: 1; */
       width: auto;
        height: 85vh;
        object-fit: cover;
    }
}
@media screen and (max-width: 850px) and (min-width: 580px) {
    .ShopText{
        padding: 1rem;  
    }00000000000000000000000000000000000000000000000000000000000000000000000000
    .Shop_img{
        /* flex: 1; */
        width: auto;
         height: 83vh;
         object-fit: cover;
     }
}
@media screen and (max-width: 580px) {
    .Shop{
        min-height: 100vh;      
        display: flex;
        flex-direction: column;
      justify-content: center;
      text-align: start;
    }
    .shopText1{
        font-size: 0.81em;
    }
    .shopText2{
        font-size: 2.5em;
        
    }
    .Shop_img{
        width: 98vw;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
    }
    .ShopText{
        width: 85%;
        padding: 1rem;  
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 400px) {
    .Shop_img{
        width: 90vw;
        object-fit: cover;
        
    }
}
@media screen and (max-width: 300px) {
    .Shop_img{
        width: 90vw;
        object-fit: cover;
        
    }
    .shopText1{
        font-size: 0.51em;
    }
    .shopText2{
        font-size: 1.5em;
        
    }
   
}